* {
  box-sizing: border-box;
}
body {
  margin:0;
  padding-top: 10px;
  font-family: 'Slabo 27px', serif;
  color: black;
}

.game {
  background-color: #e7e7e7;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 1em 10px 1em;
}

.game .image {
  float: left;
  margin: 0 1em 0 1em;
}

.game .info h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.game .rating {
  font-weight: bold;
  text-align: right;
  position: absolute;
  color: darkblue;
  font-size: 20px;
  top: 1em;
  right: 1em;
}

.release {
  margin-bottom: 3px;
  color: darkgray;
}

