*,
*:before,
*:after {
    box-sizing: border-box;
}  

body {
    margin: 0;
    padding: 0;
}   
.pinkie {
    background-color: deeppink;
    width: 100px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 50px;
}

.greenie {
    background-color: darkseagreen;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 30px;
	z-index: 100px;
}

.cabbie {
    background-color: yellow;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
    bottom: 40px;
	z-index: 0px;
}

.greenie:hover {
	z-index: 100px;
}